body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Maximizes space between logo and button */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1; /* Allows the logo container to take maximum space */
}

.header-content .logo {
    display: flex;
    align-items: center;
}

.header-content .logo h1 {
    margin: 0;
    font-size: 24px;
}

header button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: auto; /* Pushes the button to the far right */
}

header button:hover {
    background-color: #45a049;
}

.user-management-container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.user-action-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.user-action-btn:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

table tr:hover {
    background-color: #f9f9f9;
}

.view-details-btn, .apply-policy-btn {
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    transition: background-color 0.3s;
}

.view-details-btn {
    background-color: black;
    color: white;
}

.apply-policy-btn {
    background-color: #007bff;
    color: white;
}

.apply-policy-btn:hover {
    background-color: #0056b3;
}

.view-details-btn:hover {
    background-color: #333;
}
